.container{
    
    border: black solid;
    background-color: rgb(206, 197, 197);
    margin-left: 20rem;
    margin-right: 20rem;
    position: relative;
    box-shadow: 0 14px 28px rgb(0,0,0);
}
.card{
    margin: 2rem;
    border: goldenrod solid;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 14px 0 rgb(0,0,0);
    
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: goldenrod solid;
    position:absolute;
    z-index:10;
    top:-20;
}
.img1{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
 
.pozition{
    text-align: center;
    position: absolute;
    top:-35px;
    left:250px;
}